.leftPanel{
  background-color: #4286f4;
  min-width: 100px;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}



.leftPanel img{
  display: block;
  max-width: 100%;
  background-color: #00c6c9;
}

.leftPanel .notDisplayed{
  display: none;
}
