.rightPanel {
  /*No padding or margin in this element since the 2 children are abolutely align.
  But can create a parent div if a external border is really wanted*/
  position: relative;
  max-width: 100%;
  padding: 1px;
  background-color: #84f742;
  background-color: #e3ffce;
  flex: 1;
  overflow: hidden;
  border-left: 1px solid black;
}

#postureToAdaptTitle {
  margin: 0px;
  text-align: center;
  font-size: x-large;
  text-decoration: underline;
}

#postureToAdoptImg {
  display: block;
  max-width: 100%;
}

#categorySelector{
  position: absolute;
  bottom: 20px;
  width: 100%;
  height: 25px;
  background-color: rgba(255, 255, 255, 0.8);
}

.rightPanel .probaTitle{
  text-align: center;
  font-size: large;
  font-weight: bold;
  margin-bottom: 5px;
}

.probabilitiesDisplayer{
  flex: 1;
  background: white;
  min-width: 100px;
  min-height: 100px;
}

.probabilitiesDisplayer p{
  margin-left: 5px;
  margin-right: 5px;
}
