.pictureAndButtonsWrapper {
  margin-top: 5px;
  border: 1px solid black;
  padding: 5px;
  background-color: rgb(105, 109, 106);
}

.categorySelectCheckBoxWrapper {
  display: flex;
  justify-content: space-between;
}


.categoryModeCheckBoxWrapper {
  margin-left: 15px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.deletePicture {
  margin-top: 5px;
  margin-bottom: 3px;
  padding: 20px;
  background-color: rgb(244, 69, 66);
  border-radius: 3px;
  border: 1px solid rgb(224, 49, 46);
}

.picturesWrapper {
  display: flex;
  flex-wrap: wrap-reverse;
  align-items: baseline;
  justify-content: space-between;
  padding: 3px;
}

.picturesWrapper img {
  display: block;
  padding: 3px;
  margin-bottom: 3px;
  background-color: black;
  box-sizing: border-box;
  max-width: 24.8%;
  height: auto;
}

.picturesWrapper .selected {
  background-color: red;
}
