/*The div element in the one are the videoElement and the above canvas used to draw points en direct*/



#titleCameraButtonWrapper{
  background-color: yellow;
  padding: 1px;
}

#cameraRecordButtons{
  background-color: green;
  min-width: 100px;
  min-height: 50px;
}

#postureToAdaptTitle{
   font-size: large;
   text-align: center;
   margin: 0px;
   font-family: Arial, Comic Sans MS, serif;
}

#videoElementContainer {
  /*No padding or margin in this element since the 2 children are abolutely align.
  But can create a parent div if a external border is really wanted*/
  background: red;
  position: relative;
  width: 100%;
  margin: auto;

  /*https://stackoverflow.com/questions/20590239/maintain-aspect-ratio-of-div-but-fill-screen-width-and-height-in-css*/

}

/*The canvas in the one the picture taken are rendered before being turned in an image*/
#videoBackedUpCanvas {
  display: none;
}

/*the element in the one the user sees himself*/
#videoElement {
  margin: auto;
  display: block;
  width: 99%;
}

/*The element used to draw some points on top of the live video*/
#canvasForLivePoints {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background-color: blue;
  opacity: 0.4
}

#openOrCloseCameraButton {
  padding: 2px;
  position: absolute;
  top: 0px;
  left: 0px;
  width: 25px;
  height: 25px;
}

#mirrorVideoButton {
  opacity: 0.8;
  padding: 2px;
  position: absolute;
  bottom: 0px;
  left: 0px;
  width: 30px;
  height: 30px;
  display: none;
}

#postureToAdoptImg {
  position: absolute;
  top: 0px;
  right: 0px;
  display: none;
}

#counter {
  position: absolute;
  margin: 0px;
  margin-right: 5px;
  bottom: 0px;
  right: 0px;
  font-size: xx-large;
  display: none;
}

#startStopTakingPictures {
  display: block;
  visibility: hidden;
  margin: auto;
}

/*@media all and (min-width: 768px) {*/

  /*Does not target the phones*//*
  body {
    margin: 10px;
  }

  #videoElementContainer {
    width: 50%;
  }

  #openCloseCameraButton {
    width: 30px;
    height: 30px;
  }

  #mirrorVideoButton {
    width: 35px;
    height: 35px;
  }
}*/
