.categoryDisplayWrapper {
  border: 1px solid green;
  min-height: 100px;
}

.categorySelectCheckBoxWrapper {
  border: 1px solid blue;
  display: flex;
  justify-content: space-between;
}

.categoryModeCheckBoxWrapper {
  background: yellow;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.categoryModeCheckBoxWrapper label {
  background: blue;
}

.pictureDisplayWrapper {
  border: 1px solid red;
}

#pictures {
  display: flex;
  flex-wrap: wrap-reverse;
}

#pictures * {
  display: block;
  margin-right: 5px;
  margin-bottom: 5px;
  padding: 3px;
  background-color: black;
}

#pictures .selected {
  display: block;
  margin-right: 5px;
  margin-bottom: 5px;
  padding: 3px;
  background-color: red;
}

.pictureDisplayWrapper img {
  max-height: 100px;
}

.notDisplayed {
  display: none;
}
