.mirrored{
  transform: rotateY(180deg);
   -webkit-transform:rotateY(180deg); /* Safari and Chrome */
   -moz-transform:rotateY(180deg); /* Firefox */
}

.alpha08{
   opacity: 0.8;
}

.notDisplayed{
  display: none;
}

.hidden{
  visibility: hidden;
}


body{
  margin: 0px;
  background-color:  rgb(230,230,230);
}
