#startStopRecordingButton{
  display: block;
  margin: auto;
}

#videoElement{
  border: 1px solid ;
  width: 33%;
  display: block;
  margin: auto;
}

#videoBackedUpCanvas{
  display: none;
}


#startStopTakingPictures{
  display: block;
  visibility: hidden;
  margin: auto;
}
